<%- include("header2"); -%>

<form class="input-user-details" method="post" action="/changePassword">
  <div class="align-items-center col-sm-4 m-auto mt-5">
    <div class=" my-3">
      <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New password">
    </div>
    <div class=" my-3">
      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm password">
    </div>
    <div>
      <button type="submit" class="btn btn-outline-dark" id="changePassword">Change Password</button>
    </div>
    <div class="error"> <%= changeInfo %> </div>
  </div>
</form>

<%- include("footer"); -%>