<%- include("header2"); -%>

<div>
  <div id="user-address" class="login-signup text-center">
    <h4 mb-3>Enter your address</h4>
    <input type="text" name="address" id="address" placeholder="Address">
    <button class="btn btn-outline-dark mt-2" id="submitAddress">Submit</button>
    <div class="error" id="address-error"></div>
    <p class="mx-2">or</p>
    <!-- <button class="btn btn-outline-dark">Use default Address</button>
    <button class="btn btn-outline-dark">Change Address</button> -->
  </div>

  <div id="payment-method"></div>
</div>
<script src="orders.js"></script>
<!-- <script src="cart.js"></script> -->
<%- include("footer"); -%>